{% extends 'flatpages/default.html' %}
{% load i18n %}

{% block title %}
{% trans 'Создание нового объявления' %}
{% endblock title %}

{% block header %}
{% trans 'Редактирование объявления' %}
{% endblock header %}

{% block body %}
<div class="row">
    <div style="col-lg-12">
        <div class="jumbotron">
            <div style="text-align: center">
                <h1>{% trans 'Создание нового объявления' %}</h1>
                <hr>
                {% if player.confirmed == True %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ form.media }}
                    <input type="submit" class="btn btn-default" value="{% trans 'Сохранить' %}" />
                </form>
                {% else %}
                <h3>{% trans 'Создание объявлений доступно только пользователям с подтвержденным аккаунтом' %}
                    <a href="/accounts/activate">Перейти на страницу активации</a></h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}