{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}

{% block title %}
{% trans 'Объявления' %} {{ player_detail.header }}
{% endblock title %}

{% block header %}
{% trans 'Объявления' %} {{ player_detail.header }}
{% endblock header %}

{% block body %}
<h2>
{% if user == player_detail.user %}
    <strong>{% trans 'Личная страница игрока' %}</strong>: {{ player_detail.user.username }}
{% else %}
<strong>{% trans 'Имя игрока' %}</strong>: {{ player_detail.user.username }}
{% endif %}
<br>
<strong>{% trans 'Класс игрока' %}</strong>: {{ player_detail.role|roles_translator }}
</h2>
<hr>
<h3>{% trans 'Объявления' %}:</h3>
{% for announcement in announcements %}
    {% if announcement.author == player_detail %}
        <div class="row">
            <div style="col-lg-12">
                <div class="jumbotron">
                    <div style="text-align: center">
                        <a href="/announcements/{{ announcement.pk }}"><h3>{{ announcement.header }} </h3></a>
                        {{ announcement.body|safe }}
                        {% if announcement.author.user == user %}
                            <a href="/announcements/{{announcement.pk}}/update/">{% trans 'Изменить' %}</a>
                            <a href="/announcements/{{announcement.pk}}/delete/">{% trans 'Удалить' %}</a>
                            <hr>
                            <div class="panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingOne-1" role="tab">
                                        <h4 class="panel-title text-uppercase">
                                            <a aria-expanded="true" aria-controls="collapseOne-1" href="#collapseOne-1" data-toggle="collapse">
                                                <h3>{% trans 'Отклики' %}</h3>
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse in" id="collapseOne-1" role="tabpanel" aria-labelledby="headingOne-1">
                                        <div class="panel-body">
                                            {% for response in responses %}
                                                {% if response.announcement == announcement %}
                                                    <strong>{% trans 'Автор' %}:</strong> {{ response.author.user.username }}
                                                    <br>
                                                        <div class="well well-lg">
                                                            <strong>{% trans 'Отклик' %}</strong>:
                                                            <br>
                                                            <i>"{{ response.text }}"</i>
                                                            <hr>
                                                            <strong>{% trans 'Статус' %}</strong>: {{ response.status|status_translator }}
                                                            <br>
                                                            <a href="/responses/{{ response.pk }}/delete">{% trans 'Удалить' %}</a>
                                                        </div>
                                                    {% if response.status == 'NC' %}
                                                        <form method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="response_id" value="{{ response.pk }}"/>
                                                            <button name="action" value="agree" class="btn btn-primary">{% trans 'Принять' %}</button>
                                                            <button name="action" value="decline" class="btn btn-danger">{% trans 'Отклонить' %}</button>
                                                        </form>
                                                    {% endif %}
                                                    <hr>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif user.is_authenticated %}
                            <a href="/announcements/{{announcement.pk}}/add_response/">{% trans 'Откликнуться' %}</a>
                            <hr>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
{% endblock body %}